EMX_NODE_FN void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
{% for dim in shape %}
    for (idx_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
        {{ c_type }} x_val = {{ input0 }}{% for v in loop_vars %}[{{ v }}]{% endfor %} + {{ bias }}[{{ loop_vars[-1] }}];
        {{ output }}{% for v in loop_vars %}[{{ v }}]{% endfor %} = x_val * {{ half_literal }} * ({{ one_literal }} + {{ erf_fn }}(x_val * {{ inv_sqrt2_literal }}));
{% for _ in shape %}
    }
{% endfor %}
}
