EMX_NODE_FN void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    for (idx_t n = 0; n < {{ batch }}; ++n) {
        for (idx_t c = 0; c < {{ channels }}; ++c) {
            {% for dim in range(spatial_rank) %}
            for (idx_t {{ img_indices[dim] }} = 0; {{ img_indices[dim] }} < {{ image_shape[dim] }}; ++{{ img_indices[dim] }}) {
            {% endfor %}
                {{ output }}[n][c]{% for dim in range(spatial_rank) %}[{{ img_indices[dim] }}]{% endfor %} = {{ zero_literal }};
            {% for dim in range(spatial_rank) %}
            }
            {% endfor %}
        }
    }
    for (idx_t n = 0; n < {{ batch }}; ++n) {
        {% for dim in range(spatial_rank) %}
        for (idx_t {{ block_indices[dim] }} = 0; {{ block_indices[dim] }} < {{ num_blocks[dim] }}; ++{{ block_indices[dim] }}) {
        {% endfor %}
            {% for dim in range(spatial_rank) %}
            for (idx_t {{ kernel_indices[dim] }} = 0; {{ kernel_indices[dim] }} < {{ block_shape[dim] }}; ++{{ kernel_indices[dim] }}) {
            {% endfor %}
                const idx_t flat_l = {% for dim in range(spatial_rank) %}{{ block_indices[dim] }} * {{ l_strides[dim] }}{% if not loop.last %} + {% endif %}{% endfor %};
                const idx_t flat_b = {% for dim in range(spatial_rank) %}{{ kernel_indices[dim] }} * {{ block_strides[dim] }}{% if not loop.last %} + {% endif %}{% endfor %};
                {% for dim in range(spatial_rank) %}
                const idx_t {{ img_indices[dim] }} = {{ block_indices[dim] }} * {{ strides[dim] }} + {{ kernel_indices[dim] }} * {{ dilations[dim] }} - {{ pads_begin[dim] }};
                {% endfor %}
                if ({% for dim in range(spatial_rank) %}{{ img_indices[dim] }} >= 0 && {{ img_indices[dim] }} < {{ image_shape[dim] }}{% if not loop.last %} && {% endif %}{% endfor %}) {
                    for (idx_t c = 0; c < {{ channels }}; ++c) {
                        {{ output }}[n][c]{% for dim in range(spatial_rank) %}[{{ img_indices[dim] }}]{% endfor %} += {{ input0 }}[n][c * {{ block_flat_size }} + flat_b][flat_l];
                    }
                }
            {% for dim in range(spatial_rank) %}
            }
            {% endfor %}
        {% for dim in range(spatial_rank) %}
        }
        {% endfor %}
    }
}
