EMX_NODE_FN void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    const {{ acc_type }} scale = {{ acc_scale_literal }};
    {% if mask_type != 0 %}
    const {{ acc_type }} mask_filter_value = {{ acc_mask_filter_literal }};
    {% endif %}
    for (int b = 0; b < {{ batch }}; ++b) {
        for (int h = 0; h < {{ num_heads }}; ++h) {
            for (int qi = 0; qi < {{ seq_len }}; ++qi) {
                {{ acc_type }} q[{{ qk_head_size }}];
                for (int d = 0; d < {{ qk_head_size }}; ++d) {
                    {{ acc_type }} q_val = {{ acc_zero_literal }};
                    for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                        q_val += {{ acc_cast }}{{ input0 }}[b][qi][j] * {{ acc_cast }}{{ weight }}[j][h * {{ qk_head_size }} + d];
                    }
                    q[d] = q_val + {{ acc_cast }}{{ bias }}[h * {{ qk_head_size }} + d];
                }
                {{ acc_type }} scores[{{ total_seq }}];
                {{ acc_type }} max_score = {{ acc_min_literal }};
                for (int ki = 0; ki < {{ total_seq }}; ++ki) {
                    {{ acc_type }} score = {{ acc_zero_literal }};
                    {% if past %}
                    if (ki < {{ past_seq }}) {
                        for (int d = 0; d < {{ qk_head_size }}; ++d) {
                            score += q[d] * {{ acc_cast }}{{ past }}[0][b][h][ki][d];
                        }
                    } else {
                        int k_idx = ki - {{ past_seq }};
                        for (int d = 0; d < {{ qk_head_size }}; ++d) {
                            {{ acc_type }} k_val = {{ acc_zero_literal }};
                            for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                                k_val += {{ acc_cast }}{{ input0 }}[b][k_idx][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                            }
                            k_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                            score += q[d] * k_val;
                        }
                    }
                    {% else %}
                    for (int d = 0; d < {{ qk_head_size }}; ++d) {
                        {{ acc_type }} k_val = {{ acc_zero_literal }};
                        for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                            k_val += {{ acc_cast }}{{ input0 }}[b][ki][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                        }
                        k_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                        score += q[d] * k_val;
                    }
                    {% endif %}
                    score *= scale;
                    {% if mask_type == 1 %}
                    if (ki >= {{ mask_index }}[b]) {
                        score += mask_filter_value;
                    }
                    {% elif mask_type == 2 %}
                    {
                        int mask_end = {{ mask_index }}[b];
                        int mask_start = {{ mask_index }}[{{ batch }} + b];
                        if (ki < mask_start || ki >= mask_end) {
                            score += mask_filter_value;
                        }
                    }
                    {% elif mask_type == 3 %}
                    if (ki < {{ mask_shape[1] }}) {
                        if ({{ mask_index }}[b][ki] == 0) {
                            score += mask_filter_value;
                        }
                    }
                    {% elif mask_type == 4 %}
                    if (ki < {{ mask_shape[2] }}) {
                        if ({{ mask_index }}[b][qi][ki] == 0) {
                            score += mask_filter_value;
                        }
                    }
                    {% endif %}
                    {% if unidirectional %}
                    if (ki > qi + {{ past_seq }}) {
                        score = {{ acc_min_literal }};
                    }
                    {% endif %}
                    {% if extra_add_qk %}
                    score += {{ acc_cast }}{{ extra_add_qk }}[b][h][qi][ki];
                    {% endif %}
                    scores[ki] = score;
                    max_score = {{ scalar_fn(SF.MAXIMUM, acc_dtype) }}(max_score, score);
                }
                {{ acc_type }} sum = {{ acc_zero_literal }};
                for (int ki = 0; ki < {{ total_seq }}; ++ki) {
                    {{ acc_type }} w = {{ acc_zero_literal }};
                    if (max_score != {{ acc_min_literal }}) {
                        w = {{ scalar_fn(SF.EXP, acc_dtype) }}(scores[ki] - max_score);
                    }
                    scores[ki] = w;
                    sum += w;
                }
                {{ acc_type }} inv_sum = sum == {{ acc_zero_literal }} ? {{ acc_zero_literal }} : ({{ acc_type }})1 / sum;
                for (int vd = 0; vd < {{ v_head_size }}; ++vd) {
                    {{ acc_type }} acc = {{ acc_zero_literal }};
                    for (int ki = 0; ki < {{ total_seq }}; ++ki) {
                        {{ acc_type }} weight_val = scores[ki] * inv_sum;
                        {% if past %}
                        if (ki < {{ past_seq }}) {
                            acc += weight_val * {{ acc_cast }}{{ past }}[1][b][h][ki][vd];
                        } else {
                            int v_idx = ki - {{ past_seq }};
                            {{ acc_type }} v_val = {{ acc_zero_literal }};
                            for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                                v_val += {{ acc_cast }}{{ input0 }}[b][v_idx][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + vd];
                            }
                            v_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + vd];
                            acc += weight_val * v_val;
                        }
                        {% else %}
                        {
                            {{ acc_type }} v_val = {{ acc_zero_literal }};
                            for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                                v_val += {{ acc_cast }}{{ input0 }}[b][ki][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + vd];
                            }
                            v_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + vd];
                            acc += weight_val * v_val;
                        }
                        {% endif %}
                    }
                    {{ output }}[b][qi][h * {{ v_head_size }} + vd] = {{ out_cast }}acc;
                }
            }
        }
    }
    {% if present %}
    for (int b = 0; b < {{ batch }}; ++b) {
        for (int h = 0; h < {{ num_heads }}; ++h) {
            for (int ki = 0; ki < {{ total_seq }}; ++ki) {
                {% if past %}
                if (ki < {{ past_seq }}) {
                    for (int d = 0; d < {{ qk_head_size }}; ++d) {
                        {{ present }}[0][b][h][ki][d] = {{ past }}[0][b][h][ki][d];
                    }
                    for (int d = 0; d < {{ v_head_size }}; ++d) {
                        {{ present }}[1][b][h][ki][d] = {{ past }}[1][b][h][ki][d];
                    }
                } else {
                    int s_idx = ki - {{ past_seq }};
                    for (int d = 0; d < {{ qk_head_size }}; ++d) {
                        {{ acc_type }} k_val = {{ acc_zero_literal }};
                        for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                            k_val += {{ acc_cast }}{{ input0 }}[b][s_idx][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                        }
                        k_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                        {{ present }}[0][b][h][ki][d] = {{ out_cast }}k_val;
                    }
                    for (int d = 0; d < {{ v_head_size }}; ++d) {
                        {{ acc_type }} v_val = {{ acc_zero_literal }};
                        for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                            v_val += {{ acc_cast }}{{ input0 }}[b][s_idx][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + d];
                        }
                        v_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + d];
                        {{ present }}[1][b][h][ki][d] = {{ out_cast }}v_val;
                    }
                }
                {% else %}
                for (int d = 0; d < {{ qk_head_size }}; ++d) {
                    {{ acc_type }} k_val = {{ acc_zero_literal }};
                    for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                        k_val += {{ acc_cast }}{{ input0 }}[b][ki][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                    }
                    k_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + h * {{ qk_head_size }} + d];
                    {{ present }}[0][b][h][ki][d] = {{ out_cast }}k_val;
                }
                for (int d = 0; d < {{ v_head_size }}; ++d) {
                    {{ acc_type }} v_val = {{ acc_zero_literal }};
                    for (int j = 0; j < {{ input_hidden_size }}; ++j) {
                        v_val += {{ acc_cast }}{{ input0 }}[b][ki][j] * {{ acc_cast }}{{ weight }}[j][{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + d];
                    }
                    v_val += {{ acc_cast }}{{ bias }}[{{ q_hidden_size }} + {{ k_hidden_size }} + h * {{ v_head_size }} + d];
                    {{ present }}[1][b][h][ki][d] = {{ out_cast }}v_val;
                }
                {% endif %}
            }
        }
    }
    {% endif %}
}
