void {{ op_name }}({{ dim_args }}{% if dim_args and params %}, {% endif %}{{ params | join(', ') }}) {
    idx_t input_count = {{ input_sequence }}__count;
    if (input_count > EMX_SEQUENCE_MAX_LEN) {
        input_count = EMX_SEQUENCE_MAX_LEN;
    }

    if (input_count <= 0) {
        for (idx_t elem = 0; elem < {{ element_count }}; ++elem) {
            (({{ c_type }} *){{ output }})[elem] = ({{ c_type }})0;
        }
        return;
    }

    idx_t at_index = (idx_t){{ position }}[0];
    if (at_index < 0) {
        at_index += input_count;
    }
    if (at_index < 0) {
        at_index = 0;
    }
    if (at_index >= input_count) {
        at_index = input_count - 1;
    }

    for (idx_t elem = 0; elem < {{ element_count }}; ++elem) {
        (({{ c_type }} *){{ output }})[elem] = ((const {{ c_type }} *){{ input_sequence }}[at_index])[elem];
    }
}
