void {{ op_name }}({{ dim_args }}{% if dim_args and params %}, {% endif %}{{ params | join(', ') }}) {
    (void){{ input_sequence }};
    idx_t input_count = {{ input_sequence }}__count;
    if (input_count < 0) {
        input_count = 0;
    }
    if (input_count > EMX_SEQUENCE_MAX_LEN) {
        input_count = EMX_SEQUENCE_MAX_LEN;
    }
    {{ output }}[0] = ({{ c_type }})input_count;
}
